/idenprof
traffic-mini.mp4
traffic_mini_detected_1.avi
yolo.h5
/saved_images
count_to_60.mp4
/birds
image.jpg
model_59.h5
idenprof_061-0.7933.h5
model_ex-060_acc-0.969558.h5
chef.jpg
model_b.h5
model_class_b.json
.gitignore
House-sparrow.jpeg
